.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button{
    width: 200px;
    height: 180px;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 14px;
    font-size: 18px;
    font-weight: 700;
}

.tomato{
    background-color: tomato;
}

.red{
    background-color: red;
}
.grey{
    background-color: grey;
}
.green{
    background-color: green;
}